body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        min-height: 100vh;
        background-color: #ede6db;
        text-align: center;
        
    }
h1 {
color: #a2b38b;

} 
h2 {
    color: #b38c6b;
    
    } 